[Unit]
Description=CLIMAC Wetter-App: History-Export jaehrlich 01.01. 00:10

[Timer]
OnCalendar=*-01-01 00:10:00
Persistent=true

[Install]
WantedBy=timers.target
