[Unit]
Description=CLIMAC Wetter-App: Tankerkoenig Preis-Update alle 15 Minuten

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
